

#background {
    background-image: url("https://tse1.mm.bing.net/th?id=OIG4.VHZIL15z9zkFxEbZ7y27&pid=ImgGn");
    background-color: black;
    background-size: cover;
    background-position: center;
    width:500px;
  }

 